<form>
  <p class="name">DELETANDO CATEGORIA</p>

  <mat-form-field class="form">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="categoria.nome" type="text" name="nome" placeholder="EX. Computação" disabled="true" [ngStyle]="{'color': 'black'}">
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Descrição</mat-label>
    <input matInput type="text" [(ngModel)]="categoria.descricao" name="descricao" disabled="true"  [ngStyle]="{'color': 'black'}">
  </mat-form-field>

  <div class="buttons">
    <button (click)="delete()" class="mat-elevation-z8" mat-stroked-button color="primary"> DELETAR </button>
    <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn"> CANCELAR </button>
</div>
</form>
