<form>
  <h1>CRIANDO UMA NOVA CATEGORIA</h1>

  <mat-form-field class="form">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="categoria.nome" type="text" name="nome" placeholder="EX. Computação">
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Descrição</mat-label>
    <input matInput type="text" [(ngModel)]="categoria.descricao" name="descricao"
      placeholder="EX. Livros de computação">
  </mat-form-field>

  <div class="buttons">
    <button mat-stroked-button (click)="create()" class="mat-elevation-z8" color="primary">CRIAR</button>
    <button mat-stroked-button class="mat-elevation-z8" (click)="returnHome()" color="warn">CANCELAR</button>
  </div>
</form>
